.kb_grid.mar_left,
.kb_grid .mar_left {
	margin-left: 1rem;
}

.kb_grid.mar_right,
.kb_grid .mar_right {
	margin-right: 1rem;
}

.kb_grid.pad_top,
.kb_grid .pad_top {
	padding-top: 1rem;
}

.kb_grid.pad_left,
.kb_grid .pad_left {
	padding-left: 1rem;
}

.kb_grid.pad_both,
.kb_grid .pad_both {
	padding-top: 1rem;
	padding-left: 1rem;
}

.kb_grid.flex,
.kb_grid .flex {
	display: flex;
	flex-direction: row; /* row is default */
	flex-wrap: wrap; /* nowrap is default */
	justify-content: flex-start; /* flex-start is default */
	align-items: stretch; /* stretch is default */
}

/*
1. The margin-left lets us apply a border/margin/padding left to our flex items
   so that we can create a consistent gutter.
*/

.kb_grid.pull_left,
.kb_grid .pull_left {
	margin-left: -1rem; /* 1 */
}

.kb_grid.flex.vertical,
.kb_grid .flex.vertical {
	flex-direction: column;
}

.kb_grid.flex .grow,
.kb_grid .flex .grow {
	flex: 1;
}

/*
1. Instead of applying pad_both to every flex-item when you want a gutter, this
   class offers a short-cut. Now you only need to apply the class 'gutter' once
   to the flex-container and the rest is done for you.
*/

.kb_grid.flex.gutter,
.kb_grid .flex.gutter {
	margin-left: -1rem;
}

.kb_grid.flex.gutter > *,
.kb_grid .flex.gutter > * {
	padding-top: 1rem;
	padding-left: 1rem;
}

.kb_grid.flex > .col_xs_1, .kb_grid .flex > .col_xs_1 { width: 8.33333333%; }
.kb_grid.flex > .col_xs_2, .kb_grid .flex > .col_xs_2 { width: 16.66666667%; }
.kb_grid.flex > .col_xs_3, .kb_grid .flex > .col_xs_3 { width: 25%; }
.kb_grid.flex > .col_xs_4, .kb_grid .flex > .col_xs_4 { width: 33.33333333%; }
.kb_grid.flex > .col_xs_5, .kb_grid .flex > .col_xs_5 { width: 41.66666667%; }
.kb_grid.flex > .col_xs_6, .kb_grid .flex > .col_xs_6 { width: 50%; }
.kb_grid.flex > .col_xs_7, .kb_grid .flex > .col_xs_7 { width: 58.33333333%; }
.kb_grid.flex > .col_xs_8, .kb_grid .flex > .col_xs_8 { width: 66.66666667%; }
.kb_grid.flex > .col_xs_9, .kb_grid .flex > .col_xs_9 { width: 75%; }
.kb_grid.flex > .col_xs_10, .kb_grid .flex > .col_xs_10 { width: 83.33333333%; }
.kb_grid.flex > .col_xs_11, .kb_grid .flex > .col_xs_11 { width: 91.66666667%; }
.kb_grid.flex > .col_xs_12, .kb_grid .flex > .col_xs_12 { width: 100%; }

@media (min-width: 34rem) {
	.kb_grid.flex > .col_sm_1, .kb_grid .flex > .col_sm_1 { width: 8.33333333%; }
	.kb_grid.flex > .col_sm_2, .kb_grid .flex > .col_sm_2 { width: 16.66666667%; }
	.kb_grid.flex > .col_sm_3, .kb_grid .flex > .col_sm_3 { width: 25%; }
	.kb_grid.flex > .col_sm_4, .kb_grid .flex > .col_sm_4 { width: 33.33333333%; }
	.kb_grid.flex > .col_sm_5, .kb_grid .flex > .col_sm_5 { width: 41.66666667%; }
	.kb_grid.flex > .col_sm_6, .kb_grid .flex > .col_sm_6 { width: 50%; }
	.kb_grid.flex > .col_sm_7, .kb_grid .flex > .col_sm_7 { width: 58.33333333%; }
	.kb_grid.flex > .col_sm_8, .kb_grid .flex > .col_sm_8 { width: 66.66666667%; }
	.kb_grid.flex > .col_sm_9, .kb_grid .flex > .col_sm_9 { width: 75%; }
	.kb_grid.flex > .col_sm_10, .kb_grid .flex > .col_sm_10 { width: 83.33333333%; }
	.kb_grid.flex > .col_sm_11, .kb_grid .flex > .col_sm_11 { width: 91.66666667%; }
	.kb_grid.flex > .col_sm_12, .kb_grid .flex > .col_sm_12 { width: 100%; }
}

@media (min-width: 48rem) {
	.kb_grid.flex > .col_md_1, .kb_grid .flex > .col_md_1 { width: 8.33333333%; }
	.kb_grid.flex > .col_md_2, .kb_grid .flex > .col_md_2 { width: 16.66666667%; }
	.kb_grid.flex > .col_md_3, .kb_grid .flex > .col_md_3 { width: 25%; }
	.kb_grid.flex > .col_md_4, .kb_grid .flex > .col_md_4 { width: 33.33333333%; }
	.kb_grid.flex > .col_md_5, .kb_grid .flex > .col_md_5 { width: 41.66666667%; }
	.kb_grid.flex > .col_md_6, .kb_grid .flex > .col_md_6 { width: 50%; }
	.kb_grid.flex > .col_md_7, .kb_grid .flex > .col_md_7 { width: 58.33333333%; }
	.kb_grid.flex > .col_md_8, .kb_grid .flex > .col_md_8 { width: 66.66666667%; }
	.kb_grid.flex > .col_md_9, .kb_grid .flex > .col_md_9 { width: 75%; }
	.kb_grid.flex > .col_md_10, .kb_grid .flex > .col_md_10 { width: 83.33333333%; }
	.kb_grid.flex > .col_md_11, .kb_grid .flex > .col_md_11 { width: 91.66666667%; }
	.kb_grid.flex > .col_md_12, .kb_grid .flex > .col_md_12 { width: 100%; }
}

@media (min-width: 62rem) {
	.kb_grid.flex > .col_lg_1, .kb_grid .flex > .col_lg_1 { width: 8.33333333%; }
	.kb_grid.flex > .col_lg_2, .kb_grid .flex > .col_lg_2 { width: 16.66666667%; }
	.kb_grid.flex > .col_lg_3, .kb_grid .flex > .col_lg_3 { width: 25%; }
	.kb_grid.flex > .col_lg_4, .kb_grid .flex > .col_lg_4 { width: 33.33333333%; }
	.kb_grid.flex > .col_lg_5, .kb_grid .flex > .col_lg_5 { width: 41.66666667%; }
	.kb_grid.flex > .col_lg_6, .kb_grid .flex > .col_lg_6 { width: 50%; }
	.kb_grid.flex > .col_lg_7, .kb_grid .flex > .col_lg_7 { width: 58.33333333%; }
	.kb_grid.flex > .col_lg_8, .kb_grid .flex > .col_lg_8 { width: 66.66666667%; }
	.kb_grid.flex > .col_lg_9, .kb_grid .flex > .col_lg_9 { width: 75%; }
	.kb_grid.flex > .col_lg_10, .kb_grid .flex > .col_lg_10 { width: 83.33333333%; }
	.kb_grid.flex > .col_lg_11, .kb_grid .flex > .col_lg_11 { width: 91.66666667%; }
	.kb_grid.flex > .col_lg_12, .kb_grid .flex > .col_lg_12 { width: 100%; }
}

@media (min-width: 75rem) {
	.kb_grid.flex > .col_xl_1, .kb_grid .flex > .col_xl_1 { width: 8.33333333%; }
	.kb_grid.flex > .col_xl_2, .kb_grid .flex > .col_xl_2 { width: 16.66666667%; }
	.kb_grid.flex > .col_xl_3, .kb_grid .flex > .col_xl_3 { width: 25%; }
	.kb_grid.flex > .col_xl_4, .kb_grid .flex > .col_xl_4 { width: 33.33333333%; }
	.kb_grid.flex > .col_xl_5, .kb_grid .flex > .col_xl_5 { width: 41.66666667%; }
	.kb_grid.flex > .col_xl_6, .kb_grid .flex > .col_xl_6 { width: 50%; }
	.kb_grid.flex > .col_xl_7, .kb_grid .flex > .col_xl_7 { width: 58.33333333%; }
	.kb_grid.flex > .col_xl_8, .kb_grid .flex > .col_xl_8 { width: 66.66666667%; }
	.kb_grid.flex > .col_xl_9, .kb_grid .flex > .col_xl_9 { width: 75%; }
	.kb_grid.flex > .col_xl_10, .kb_grid .flex > .col_xl_10 { width: 83.33333333%; }
	.kb_grid.flex > .col_xl_11, .kb_grid .flex > .col_xl_11 { width: 91.66666667%; }
	.kb_grid.flex > .col_xl_12, .kb_grid .flex > .col_xl_12 { width: 100%; }
}
